#drum-machine {
    background: #36313b;
    #display {
        input[type='range'] {
        background: #82CFD0;
        border: solid 1px #82CFD0;
        border-radius: 8px;
        height: 7px;
        width: 356px;
        outline: none;
        margin-bottom: 30px;
        transition: background 450ms ease-in;
        -webkit-appearance: none;
        }
        
        h4 {
            margin-top: 15px;
        }
        button {
            margin-top: 50px;
        }
        .btn {
            margin-left :30px;
            margin-bottom: 55px;
        }
        .btn-gradient{
            background-image: linear-gradient(to top, #845EC2, #D65DB1,  #F9F871);
        }
    }
}




